<html>

    <head>
        <meta charset="utf8">
        <title>Style Patterns pour le projet</title>
    </head>
<body>
<h1>Titre page du site</h1>

<div>
    <h2>Fonts</h2>

    <p>
        <b>Titre page</b>
        font-family: 'Nothing You Could Do', cursive;
    </p>

    <p>
        <b>Sous-titre</b>
        font-family: 'Source Serif Pro', serif;
    </p>

    <p>
        <b>Texte</b>
        font-family: 'Open Sans', sans-serif;
    </p>

    <p>
        <b>Colors</b>
    </p>
    <pre>
        red : #e7503d
        dark green : #74a62c
        dark brown : #673f33
        grey helper input : #646464
        light red (cancel button) : #fdc69e
        light green (validate button) : #cffb90
        yellow : #ffdc71

    </pre>

    Form Input button validate :
    <pre>
        class : bt_validate
        < input type="submit" class="bt_validate" value="Valider">
    </pre>

    Form Input button cancel :
    <pre>
        class : bt_cancel

        < input type="submit" class="bt_cancel" value="Cancel">
    </pre>
</div>

</body>
</html>
