{% extends "base.html.twig" %}

{% block body %}
<h1>Ici Ma page de profil</h1>

		<p>{{datauser.username}}<p>
		<p>{{datauser.email}}<p>
		{# <p style="color:red">{{datauser.username}}<p> #}

		
{% endblock body %}