<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Road Trip - Trouvez la destination de vos vacances entre amis{% endblock %}</title>

        {% block stylesheets %}
            {% include "stylesheet.html.twig" %}
        {% endblock %}

        {% block header %}
        <script src="{{ asset('bundles/app/js/jquery-2.2.4.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% include "header.html.twig" %}

        <div id="html_body">
        {% block body %}
        {% endblock %}
        </div>

        {% include "footer.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
