/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Open+Sans:400,600,700|Source+Sans+Pro:400,700|Source+Serif+Pro:400,700);

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}


p{
	margin: 0 0 6px 0;
}

p, ul{
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family: 'Source Serif Pro', serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family: 'Source Serif Pro', serif;
	font-size-adjust:0.531;
	font-weight:500;
	text-align: center;
}

h3{
	font-family: 'Source Serif Pro', serif;
	font-size-adjust:0.531;
	font-weight:500;
	text-align: center;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 300px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(imgs/firstBG.jpg) 150% 0 no-repeat;
	height: 200px;
	margin: 0;
	padding: 220px 0 260px 0;
	background-size: cover;

}

#second{
	background: url(imgs/secondBG.jpeg) 150% 0 no-repeat fixed;
	color: white;
	height: 550px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#second .bg{
	background: url(imgs/user.png) 100%  no-repeat;
	height: 500px;
	padding: -800px;
	position: absolute;
	width: 900px;
	z-index: 200;
}

#third{
	background: url(imgs/thirdBG.jpg) 100% 0 no-repeat fixed;
	color: white;
	height: 650px;
	padding: 100px 0 0 0;
}

#fourth{
	background: url(imgs/secondBG.jpeg) 100% 0 no-repeat fixed;
	color: white;
	height: 690px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
/** button Register**/
.myButton {
	background-color:#74a62c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#cffb90;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:20px 50px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
/** button Login**/
.myButton2 {
	background-color:rgba(0,0,0,0.2);
	display:inline-block;
	cursor:pointer;
	/*color:#646464;*/
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	padding:8px 24px;
	text-decoration:none;
	margin-top: 6px;
	transition:all 0.2s;
	border:1px solid rgba(255,255,255,0.5);
}

.myButton2:hover {
	background-color:rgba(0,0,0,0.5);
/*	background-color:#f6f6f6; */
	transition:all 0.1s;
}

.myButton2:active {
	position:relative;
	top:1px;
}

.title {
	font-size: 1.8em;
	padding: 75px 0 0 0;
	text-align: center;
	font-family:"Nothing You Could Do", cursive;
	color:black;
}
